<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add User</title>
    <!-- Thêm liên kết đến Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1>Add User</h1>

    <form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
            <span th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></span>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email">
            <span th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></span>
        </div>

        <button type="submit" class="btn btn-primary">Add User</button>
        <a href="/index" class="btn btn-secondary">Back to User List</a>
    </form>
</div>

<!-- Thêm liên kết đến Bootstrap JS và các phụ thuộc -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
